<div class="container">
  <div class="row">
    <div>
      <h1>Memories</h1>
      <table>
        <thead>
          <tr>
            <th>title</th>
            <th>content</th>
          </tr>
        </thead>
        <tbody>
          <% @memories.each do |memory| %>
          <tr>
            <td><%= memory.title %></td>
            <td><%= memory.body %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>